go 1.21.4

// 初始化 go work init 


use (
    // 填充 mod path
    ../im/app/user/rpc
    ../im/app/user/api
    ../im/app/user/model
    
    ../im/app/social/cmd/rpc
    ../im/app/social/cmd/api
    ../im/app/social/model
    
    ../im/pkg
)